<div id="<%= dom_id meetup %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= meetup.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meetup.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= meetup.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= meetup.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Business name:</strong>
    <%= meetup.business_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Event date:</strong>
    <%= meetup.event_date %>
  </p>

</div>
